{{! ¿Qué es esto?
}}
{{! Esta es una plantilla de los íconos, para colocar cualquier ícono en otros componentes
}}


{{! Enlaces a estilos para que se rendericen bien las plantillas:
}}

    <link rel="stylesheet" href=".../resources/styles/css/breakpoints.css">
    <link rel="stylesheet" href=".../resources/styles/css/components.css">
    <link rel="stylesheet" href=".../resources/styles/css/icons.css">
    <link rel="stylesheet" href=".../resources/styles/css/typography.css">
    <link rel="stylesheet" href=".../resources/styles/css/variables.css">
    <link rel="stylesheet" href=".../resources/styles/css/grid.css">



{{! Plantilla:
}}

<svg class="icon">
  <use xlink:href="resources/icons/{{iconName}}.svg#icon"></use>
</svg>
