{{! ¿Qué es esto?
}}
{{! Aquí están las plantillas de los inputs.
}}


{{! Enlaces a estilos para que se rendericen bien las plantillas:
}}

    <link rel="stylesheet" href=".../resources/styles/css/breakpoints.css">
    <link rel="stylesheet" href=".../resources/styles/css/components.css">
    <link rel="stylesheet" href=".../resources/styles/css/icons.css">
    <link rel="stylesheet" href=".../resources/styles/css/typography.css">
    <link rel="stylesheet" href=".../resources/styles/css/variables.css">
    <link rel="stylesheet" href=".../resources/styles/css/grid.css">



{{! Plantilla de input }}


{{! poner comentarios a todo esto }}

<div class="input {{type}} {{state}} {{width}}">
  <!-- Primera fila: label, requirement y tooltip -->
  <div class="input-header">
    <span class="input-label">{{label}}</span>

    {{#requirement}}
      <span class="input-requirement">
        {{#required}}*{{/required}}
        {{#optional}}(optional){{/optional}}
      </span>
    {{/requirement}}


  <!-- Segunda fila: left-icon, text-input y right-icon -->
  <div class="input-body">
    {{#leftIcon}}
      <span class="icon-left">{{> components/icon }}</span>
    {{/leftIcon}}

    <input type="text" value="{{text-input}}" class="text-input"/>

    {{#rightIcon}}
      <span class="icon-right">{{> components/icon }}</span>
    {{/rightIcon}}
  </div>

  <!-- Tercera fila: helptext -->
  {{#helptext}}
  <div class="input-helptext">
    <span>{{helptext}}</span>
  </div>
  {{/helptext}}
</div>
