{{! ¿Qué es esto?
}}
{{! plantilla de la barra de navegación
}}


{{! Enlaces a estilos para que se rendericen bien las plantillas:
}}

    <link rel="stylesheet" href=".../resources/styles/css/breakpoints.css">
    <link rel="stylesheet" href=".../resources/styles/css/components.css">
    <link rel="stylesheet" href=".../resources/styles/css/icons.css">
    <link rel="stylesheet" href=".../resources/styles/css/typography.css">
    <link rel="stylesheet" href=".../resources/styles/css/variables.css">
    <link rel="stylesheet" href=".../resources/styles/css/grid.css">



{{! Plantillas: }}

<nav class="navbar">
  <!-- Primer nav-tabs floating (CASIOPEA, Escuela, Wiki, Crear) -->
  <div class="nav-tabs-container">
    {{> components/nav-tabs 
        isFloating=true 
        tabs=[
          { label: "CASIOPEA", state: "default" },
          { label: "Escuela", state: "default", rightIcon: "cas-navabajo.svg" },
          { label: "Wiki", state: "default", rightIcon: "cas-navabajo.svg" },
          { label: "Crear", state: "default", leftIcon: "cas-crear.svg" }
        ]
    }}
  </div>

  <!-- Input de búsqueda (Buscar en Casiopea) -->
  <div class="nav-search">
    {{> components/input 
        type="default" 
        state="default" 
        text-input="Buscar en Casiopea" 
        rightIcon="cas-lupa.svg" 
        width="fixed"
    }}
  </div>

  <!-- Segundo nav-tabs floating (Hola, nombre de usuario) -->
  <div class="nav-user">
    {{> components/nav-tabs 
        isFloating=true 
        tabs=[
          { label: "Hola, {{userName}}", state: "default", leftIcon: "cas-usuario.svg" }
        ]
    }}
  </div>
</nav>
