{{! ¿Qué es esto?
}}
{{! Aquí hay plantillas para los tabs y nav-tabs (que son un grupo de tabs). Existen dos tipos de
    cada uno: fixed y floating, y se utilizan en distintos lugares de los diseños, como en la barra
    de navegación o en las opciones de las páginas, por ejemplo.
}}


{{! Enlaces a estilos para que se rendericen bien las plantillas:
}}

<link rel="stylesheet" href="resources/styles/css/breakpoints.css">
<link rel="stylesheet" href="resources/styles/css/components.css">
<link rel="stylesheet" href="resources/styles/css/icons.css">
<link rel="stylesheet" href="resources/styles/css/typography.css">
<link rel="stylesheet" href="resources/styles/css/variables.css">


{{! Plantillas:
}}