{{! ¿Qué es esto?
}}
{{! Esta es una plantilla de los botones
}}


{{! Enlaces a estilos para que se rendericen bien las plantillas:
}}

    <link rel="stylesheet" href=".../resources/styles/css/breakpoints.css">
    <link rel="stylesheet" href=".../resources/styles/css/components.css">
    <link rel="stylesheet" href=".../resources/styles/css/icons.css">
    <link rel="stylesheet" href=".../resources/styles/css/typography.css">
    <link rel="stylesheet" href=".../resources/styles/css/variables.css">
    <link rel="stylesheet" href=".../resources/styles/css/grid.css">



{{! Plantillas:
}}

<!-- toc.mustache -->
<div class="toc-container">
  {{> button }}

  <!-- Texto "Tabla de contenidos" -->
  <div class="toc-title">
    <span>Tabla de Contenidos</span>
  </div>

  <!-- Contenido tocItemGroup -->
  {{> tocItemGroup}}
</div>


