{{! ¿Qué es esto?
}}
{{! Esta es una plantilla de los botones
}}


{{! Enlaces a estilos para que se rendericen bien las plantillas:
}}




{{! Plantillas:
}}

<!-- tocItemGroup.mustache -->
<div class="toc-item-group">
  {{#tocItems}}
    {{> tocItem}}
  {{/tocItems}}
</div>