body {
  background-color: #F6F5F5;
  padding: 0;
  margin: 0;
}
.page-grid {
  background-color: #F6F5F5;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 22px 240px 1fr 680px 1fr 240px 22px;
  gap: auto;
}
@media (max-width: 1279px) {
  .page-grid {
    grid-template-columns: 1fr 680px 1fr;
    grid-template-rows: auto auto auto 1fr auto;
  }
}
@media (max-width: 719px) {
  .page-grid {
    grid-template-columns: 20px 1fr 20px;
  }
}
.navbar {
  grid-column: 1 / -1;
  padding: 4px 24px;
}
.title-area {
  grid-column: 4;
  height: fit-content;
}
@media (max-width: 1279px) {
  .title-area {
    grid-column: 2;
    grid-row: 2;
  }
}
@media (max-width: 719px) {
  .title-area {
    grid-column: 2;
    grid-row: 2;
    max-width: 100%;
  }
}
.content-area {
  grid-column: 4;
}
@media (max-width: 1279px) {
  .content-area {
    grid-column: 2;
    grid-row: 4;
  }
}
@media (max-width: 719px) {
  .content-area {
    grid-column: 2;
    grid-row: 4;
    max-width: 100%;
  }
}
.toc {
  grid-column: 2;
}
@media (max-width: 1279px) {
  .toc {
    display: none;
  }
}
.info-box {
  grid-column: 6;
}
@media (max-width: 1279px) {
  .info-box {
    grid-column: 2;
    /* Mover a la columna 4 */
    grid-row: 3;
    /* Mover a la fila 4 */
  }
}
@media (max-width: 719px) {
  .info-box {
    grid-column: 2;
    /* Mover a la columna 4 */
    grid-row: 3;
    /* Mover a la fila 4 */
    max-width: 100%;
  }
}
.footer {
  grid-column: 1 / -1;
  padding: 4px 24px;
}
