p {
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  color: #2D2B29;
  line-height: 1.6rem;
}
a {
  font-family: 'Work Sans', sans-serif;
  color: #B2ACA4;
  text-decoration: none;
}
a:visited {
  color: #54190C;
  text-decoration: none;
}
a:hover {
  color: #7E2611;
  text-decoration: underline;
}
a:focus {
  color: #54190C;
  text-decoration: underline;
}
a:active {
  color: #54190C;
  text-decoration: none;
}
a a:not([href]) {
  color: #B2ACA4;
  cursor: default;
  text-decoration: none;
}
a a[href=""] {
  color: #B2ACA4;
  cursor: default;
  text-decoration: none;
}
blockquote {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.125rem;
  color: #373633;
  font-style: italic;
  border-left: 4em solid #F6F5F5;
}
b,
strong {
  font-weight: 600;
  color: #2D2B29;
}
i,
em {
  font-style: italic;
  color: #2D2B29;
}
small {
  font-size: 0.889rem;
  color: #2D2B29;
}
big {
  font-size: 1.125rem;
  color: #2D2B29;
}
mark {
  background-color: #D4998B;
  color: #2D2B29;
  padding: 0 4px;
  border-radius: 4px;
}
ins {
  text-decoration: underline;
  color: #53504C;
}
del {
  text-decoration: line-through;
  color: #959089;
}
u {
  text-decoration: underline;
  text-decoration-color: #53504C;
}
code {
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
  color: #2D2B29;
}
kbd {
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
  color: #2D2B29;
}
samp {
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
  color: #2D2B29;
}
pre {
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
  color: #2D2B29;
  overflow-x: auto;
}
var {
  font-style: italic;
  color: #972D15;
}
ul,
ol {
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  color: #2D2B29;
  line-height: 1.6rem;
}
ul li,
ol li {
  margin-bottom: 2px;
}
dl {
  margin: 12px 0;
}
dt {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  color: #2D2B29;
}
dd {
  margin-left: 12px;
  font-family: 'Work Sans', sans-serif;
  color: #373633;
}
sup,
sub {
  font-size: 0.79rem;
  vertical-align: baseline;
  position: relative;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.2em;
}
.navbar a {
  text-transform: lowercase small-caps;
  /* Estilo small caps */
  color: #2D2B29;
  /* Color surface 900 */
  text-decoration: none;
  /* Sin subrayado */
  font-size: 0.889rem;
  /* Tamaño acorde a la tipografía secundaria */
}
.navbar a:hover,
.navbar a:focus {
  text-decoration: none;
  /* Subrayado en hover y focus */
  color: #A83217;
  /* Cambio de color en interacción */
}
h1 {
  font-size: 2.027rem;
  font-family: 'Work Sans', sans-serif;
  color: #170101;
  padding-bottom: 2.027rem;
}
h2 {
  font-size: 1.802rem;
  font-family: 'Work Sans', sans-serif;
  color: #54190C;
  padding-bottom: 1.802rem;
}
h3 {
  font-size: 1.602rem;
  font-family: 'Work Sans', sans-serif;
  color: #54190C;
  padding-bottom: 1.602rem;
}
h4 {
  font-size: 1.424rem;
  font-family: 'Work Sans', sans-serif;
  color: #2D2B29;
  padding-bottom: 1.424rem;
}
h5 {
  font-size: 1.266rem;
  font-family: 'Work Sans', sans-serif;
  color: #53504C;
  padding-bottom: 1.266rem;
}
h6 {
  font-size: 1.125rem;
  font-family: 'Work Sans', sans-serif;
  color: #53504C;
  padding-bottom: 1.125rem;
}
.caption {
  font-family: 'Work Sans', sans-serif;
  font-size: 0.79rem;
  color: #959089;
  line-height: 1.3;
}
