p {
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  color: #2D2B29;
  line-height: 1.6rem;
}
p.lg {
  font-size: 1.125rem;
}
p.sm {
  font-size: 0.889rem;
}
p.xs {
  font-size: 0.79rem;
}
a {
  font-family: 'Work Sans', sans-serif;
  color: #B2ACA4;
  text-decoration: none;
}
a:visited {
  color: #54190C;
  text-decoration: none;
}
a:hover {
  color: #7E2611;
  text-decoration: underline;
}
a:focus {
  color: #54190C;
  text-decoration: underline;
}
a:active {
  color: #54190C;
  text-decoration: none;
}
a a:not([href]) {
  color: #B2ACA4;
  cursor: default;
  text-decoration: none;
}
a a[href=""] {
  color: #B2ACA4;
  cursor: default;
  text-decoration: none;
}
.navbar a {
  text-transform: lowercase small-caps;
  /* Estilo small caps */
  color: #2D2B29;
  /* Color surface 900 */
  text-decoration: none;
  /* Sin subrayado */
  font-size: 0.889rem;
  /* Tamaño acorde a la tipografía secundaria */
}
.navbar a:hover,
.navbar a:focus {
  text-decoration: none;
  /* Subrayado en hover y focus */
  color: #A83217;
  /* Cambio de color en interacción */
}
h1 {
  font-size: 2.027rem;
  font-family: 'Work Sans', sans-serif;
  color: #170101;
  padding-bottom: 2.027rem;
}
h2 {
  font-size: 1.802rem;
  font-family: 'Work Sans', sans-serif;
  color: #54190C;
  padding-bottom: 1.802rem;
}
h3 {
  font-size: 1.602rem;
  font-family: 'Work Sans', sans-serif;
  color: #54190C;
  padding-bottom: 1.602rem;
}
h4 {
  font-size: 1.424rem;
  font-family: 'Work Sans', sans-serif;
  color: #2D2B29;
  padding-bottom: 1.424rem;
}
h5 {
  font-size: 1.266rem;
  font-family: 'Work Sans', sans-serif;
  color: #53504C;
  padding-bottom: 1.266rem;
}
h6 {
  font-size: 1.125rem;
  font-family: 'Work Sans', sans-serif;
  color: #53504C;
  padding-bottom: 1.125rem;
}
.caption {
  font-family: 'Work Sans', sans-serif;
  font-size: 0.79rem;
  color: #959089;
  line-height: 1.3;
}
code {
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
  color: #2D2B29;
}
@media (max-width: 719px) {
  p {
    font-size: 0.875rem;
  }
  p.lg {
    font-size: 1rem;
  }
  p.sm {
    font-size: 0.8125rem;
  }
  p.xs {
    font-size: 0.75rem;
  }
  h1 {
    font-size: 1.8rem;
    font-family: 'Work Sans', sans-serif;
    color: #170101;
  }
  h2 {
    font-size: 1.6rem;
    font-family: 'Work Sans', sans-serif;
    color: #54190C;
  }
  h3 {
    font-size: 1.4rem;
    font-family: 'Work Sans', sans-serif;
    color: #7E2611;
  }
  h4 {
    font-size: 1.2rem;
    font-family: 'Work Sans', sans-serif;
    color: #2D2B29;
  }
  h5 {
    font-size: 1.1rem;
    font-family: 'Work Sans', sans-serif;
    color: #53504C;
  }
  h6 {
    font-size: 1rem;
    font-family: 'Work Sans', sans-serif;
    color: #53504C;
  }
}
