p {
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  color: #170101;
  line-height: 1.6rem;
}
p.lg {
  font-size: 1.125rem;
}
p.sm {
  font-size: 0.889rem;
}
p.xs {
  font-size: 0.79rem;
}
h1 {
  font-size: 2.027rem;
}
h2 {
  font-size: 1.802rem;
}
h3 {
  font-size: 1.602rem;
}
h4 {
  font-size: 1.424rem;
}
h5 {
  font-size: 1.266rem;
}
.caption {
  font-size: 0.79rem;
  color: #959089;
  line-height: 1.3;
}
code {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1rem;
  color: #2D2B29;
}
@media (max-width: 719px) {
  p {
    font-size: 0.875rem;
  }
  p.lg {
    font-size: 1rem;
  }
  p.sm {
    font-size: 0.8125rem;
  }
  p.xs {
    font-size: 0.75rem;
  }
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  h5 {
    font-size: 1.1rem;
  }
}
