/* Barra de navegación */
.navbar-presentacion {
     display: flex;
    padding: 16px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    background-color: #EDECEA;
    
    justify-content: space-between;
    gap: auto;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1000; /* Asegura que esté encima del resto */
  }
  
  .nav-links-left,
  .nav-links-right {
    display: flex;
    gap: 16px; /* Espaciado entre los links */
  }
  
  .nav-links-right a {
    margin-left: auto;
  }
  
  /* Footer */
  .footer-presentacion {
    width: 100%; /* Ocupa todo el ancho */
    background-color: #EDECEA;
    display: flex;
    justify-content: center; /* Centra los elementos */
    gap: 40px; /* Espaciado entre enlaces */
    padding: 60px 0; /* Padding vertical */

    @media (max-width: 719px) {
        gap: 20px;
    }
  }
  

  .buttons-row{
    display:flexbox;
    gap: 16px;
  
  }


  /* Estilos para la sección principal */
.main-section-presentacion {
    display: grid;
    grid-template-columns: 400px minmax(400px, 700px); /* Dos columnas iguales */
    align-items: center; /* Centrar verticalmente */
    gap: 32px; /* Espaciado entre columnas */
    padding: 40px; /* Espaciado interno */
  }
  
  /* Adaptabilidad para pantallas pequeñas */
  @media (max-width: 719px) {
    .main-section-presentacion {
      grid-template-columns: 1fr; /* Una columna */
      gap: 16px; /* Reducir el espacio entre filas */
      padding: 20px; /* Reducir el padding */
    }
  }
  