// Importar estilos necesarios
@import "../variables.less";     // Importar variables generales
@import "../typography.less";    // Importar tipografía para tamaños de texto
@import "../breakpoints.less";   // Importar breakpoints
@import "../icons.less";         // Importar íconos

// Estilos del componente
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: @gap-md;                  // Espacio entre íconos y texto
  padding: @padding-sm @padding-lg;
  border-radius: @corner-radius-xs;
  font-family: @font-body;
  font-size: @size-text-body-md;  // Usar tamaño de texto ajustado
  font-weight: 600;               // Semibold por defecto
  line-height: @size-text-body-md * 1.6;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  a {
    text-decoration: none; 
  }

  // Solo animación en el hover
  &:hover {
    transition: background-color 0.2s ease, border-color 0.2s ease;
  }

  // Variantes de color
  &.primary {
    background-color: @col-prim-400;
    color: @col-surf-50;
    border-color: transparent;

    a{
      color: @col-surf-50;
    }

    &:hover {
      background-color: @col-prim-600;
      a {
        text-decoration: none; 
      }
    }

    &:active {
      background-color: @col-prim-400;  // Mantiene el color de fondo original
      border-color: @col-prim-600;
      transition: none;  // Sin animación al hacer clic
    }

    &.disabled {
      background-color: @col-surf-200;
      color: @col-surf-500;
      border-color: transparent;
      a{
        color: @col-surf-500;
      }
    }
  }

  &.secondary {
    background-color: transparent;
    color: @col-surf-700;
    border-color: @col-surf-600;
    a{
      color: @col-surf-700;
    }

    &:hover {
      background-color: @col-surf-200;
      a {
        text-decoration: none; 
      }
    }

    &:active {
      background-color: transparent;  // Mantiene el fondo original
      color: @col-surf-900;
      border-color: @col-surf-900;
      transition: none;  // Sin animación al hacer clic
    }

    &.disabled {
      background-color: @col-surf-200;
      color: @col-surf-500;
      border-color: transparent;
      a{
        color: @col-surf-500;
      }
    }
  }

  &.danger {
    background-color: @col-danger-200;
    color: @col-surf-50;
    border-color: transparent;
    a{
      color: @col-surf-50;
    }

    &:hover {
      background-color: @col-danger-300;
      a {
        text-decoration: none; 
      }
    }

    &:active {
      background-color: @col-danger-200;  // Mantiene el color de fondo original
      border-color: @col-danger-400;
      transition: none;  // Sin animación al hacer clic
    }

    &.disabled {
      background-color: @col-surf-200;
      color: @col-surf-500;
      border-color: transparent;
      a{
        color: @col-surf-500;
      }
    }
  }

  &.success {
    background-color: @col-succes-200;
    color: @col-surf-50;
    border-color: transparent;
    a{
      color: @col-surf-50;
    }

    &:hover {
      background-color: @col-succes-300;
      a {
        text-decoration: none; 
      }
    }

    &:active {
      background-color: @col-succes-200;  // Mantiene el color de fondo original
      border-color: @col-succes-400;
      transition: none;  // Sin animación al hacer clic
    }

    &.disabled {
      background-color: @col-surf-200;
      color: @col-surf-500;
      border-color: transparent;
      a{
        color: @col-surf-500;
      }
    }
  }

  &.warning {
    background-color: @col-warning-200;
    color: @col-surf-50;
    border-color: transparent;
    a{
      color: @col-surf-50;
    }

    &:hover {
      background-color: @col-warning-300;
      a {
        text-decoration: none; 
      }
    }

    &:active {
      background-color: @col-warning-200;  // Mantiene el color de fondo original
      border-color: @col-warning-400;
      transition: none;  // Sin animación al hacer clic
    }

    &.disabled {
      background-color: @col-surf-200;
      color: @col-surf-500;
      border-color: transparent;
      a{
        color: @col-surf-500;
      }
    }
  }
}
