// Importar estilos necesarios
@import "../variables.less";     // Importar variables generales
@import "../typography.less";    // Importar tipografía para tamaños de texto
@import "../breakpoints.less";   // Importar breakpoints
@import "../icons.less";         // Importar íconos

// Estilos del componente

.toc-line{

    height: 20px;
    width: 4px;
    margin-left: @padding-md;
    margin-right: @padding-md;

    .default{
        background-color: @col-surf-200;

    }

    .hover {
        background-color: @col-surf-700;
    }
} 