// Importar estilos necesarios
@import "../variables.less";     // Importar variables generales
@import "../typography.less";    // Importar tipografía para tamaños de texto
@import "../breakpoints.less";   // Importar breakpoints
@import "../icons.less";         // Importar íconos

// Estilos del componente





.toc-item{
    padding: 0px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: center;
    width: 192px;


    :hover{
        background-color: @col-surf-200;
    }
}

.toc-label{

        width:fit-content;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;


    a {
        font-family: @font-body;
        font-size: @size-text-body-sm;
        line-height: 28px;
        color: @col-surf-700;
        text-decoration: none;
        margin-block-start: 0;
        margin-block-end: 0;


        

  @media (max-width: @breakpoint-tablet) {

        @rem: @rem-tablet;
        @sc: @sc-tablet;

        @size-text-body-sm: @rem * (1/@sc);

        a {
            font-size: @size-text-body-sm;
            // line-height: @size-text-body-sm * @lh-body;
            }
  }

    @media (max-width: @breakpoint-mobile) {

        @rem: @rem-mobile;
        @sc: @sc-mobile;

        @size-text-body-sm: @rem * (1/@sc);

        a {
            font-size: @size-text-body-sm;
            // line-height: @size-text-body-sm * @lh-body;
            }
  }

 

        .actual{
            color: @col-surf-700;


        }

        .default{
            color: @col-surf-500;


        }

    }
}