{{! ¿Qué es esto?
}}
{{! Esta es una plantilla de los botones
}}


<!-- infoboxFieldTypePersonas.mustache -->
<div class="infobox-field-type-personas">
  <div class="firstRow">
    <div class="imagen-lista">
      {{#imagenes}}
        <img src="{{imagen}}" alt="{{altText}}" class="img-persona">
      {{/imagenes}}
    </div>
    <p>...</p>
  </div>
  
  <div class="secondRow">
    <a href="#" class="mostrar-todos">Mostrar todos ({{numero}})</a>
  </div>
</div>