{{! ¿Qué es esto?
}}
{{! Esta es una plantilla de los botones
}}

<!-- fieldTypePersona.mustache -->
<div class="field-type-persona">
  <img src="{{imagen}}" alt="{{nombre}}" class="img-persona">
  <a href="#{{enlacepersona}}">{{nombre}}</a>
</div>