{{! ¿Qué es esto?
}}
{{! Esta es una plantilla de los botones
}}

<!-- fieldTypePersonasPopupPersona.mustache -->
<div class="field-type-personas-popup-persona">
  <img src="{{imagen}}" alt="{{nombre}}" class="img-persona">
  <p class="persona-nombre">{{nombre}}</p>
</div>


