{{! ¿Qué es esto?
}}
{{! Esta es una plantilla de los botones
}}


<!-- infoboxField.mustache -->
<div class="infobox-field">
  <p>{{infoboxFieldLabel}}</p>
  <div class="fieldType{{type}}">
    {{> infobox/fieldType{{type}}}}
  </div>
</div>